.crear-cita {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;          /* Ocupa el 100% de la altura de la ventana */
    margin: 0;
}

.create-appointment-container {
    max-width: 600px;
    width: 100%;
    text-align: center;
    padding: 20px;
}

mat-calendar {
    max-width: 100%;
    font-size: 18px;
}

button[mat-raised-button] {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 18px;
}
