<nav>
  <mat-toolbar color="primary">
    <span>Gestión de Citas</span>
    <span class="spacer"></span>

    <!-- Pestañas visibles solo si el usuario está autenticado -->
    <a mat-button routerLink="/">Inicio</a>
    <a mat-button routerLink="/appointments">Citas</a>
    <a mat-button routerLink="/account">Mi cuenta</a>

    <!-- Opciones específicas por rol -->
    <a mat-button routerLink="/history" *ngIf="authService.isLoggedIn() && authService.getRole() === 'MEDICO'">Historial Clínico</a>
    <a mat-button routerLink="/stadistics" *ngIf="authService.isLoggedIn() && authService.getRole() === 'ADMINISTRADOR'">Estadísticas</a>
    
    <!-- Notificaciones -->
    <a mat-button routerLink="/notifications" *ngIf="authService.isLoggedIn()"><i class="material-icons">notifications</i></a>

    <!-- Botón de login/logout -->
    <button mat-button (click)="logout()" *ngIf="authService.isLoggedIn()">Cerrar sesión</button>
  </mat-toolbar>
</nav>
