<div class="appointments-container">
    <h1>Gestión de Citas</h1>
    <div class="content-wrapper">
      <!-- Columna de Agenda de Citas -->
      <div class="agenda-column">
        <h2>Agenda de Citas</h2>
        <div class="agenda-container">
          <table>
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Medico</th>
                <th>Especialidad</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cita of citas">
                <td>{{ cita.fecha }}</td>
                <td>{{ cita.medico }}</td>
                <td>{{ cita.especialidad }}</td>
                <td>
                  <button (click)="navigateTo('cancel')" mat-raised-button class="btn-danger">
                    Cancelar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
      <!-- Columna de Gestión de Citas -->
      <div class="actions-column">
        <h2>Gestión de Citas</h2>
        <div class="actions">
          <button (click)="navigateTo('create')" class="btn-primary">Pedir Cita</button>
          <button (click)="navigateTo('modify')" class="btn-secondary">Modificar Cita</button>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  