<div class="account-container">
    <h1>Mi Cuenta</h1>
  
    <!-- Sección: Editar datos personales -->
    <section class="personal-data">
      <h2>Datos Personales</h2>
      <form (ngSubmit)="updatePersonalInfo()">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input
            type="text"
            id="name"
            [(ngModel)]="personalData.nombre"
            name="name"
            placeholder="Introduce tu nombre"
            required
          />
        </div>
        <div class="form-group">
          <label for="surname">Apellidos</label>
          <input
            type="text"
            id="surname"
            [(ngModel)]="personalData.apellidos"
            name="surname"
            placeholder="Introduce tus apellidos"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">Correo</label>
          <input
            type="email"
            id="email"
            [(ngModel)]="personalData.usuario.email"
            name="email"
            placeholder="Introduce tu correo"
            required
          />
        </div>

        <div class="form-group">
          <label for="telefono">Telefono</label>
          <input
            type="telefono"
            id="telefono"
            [(ngModel)]="personalData.telefono"
            name="telefono"
            placeholder="Introduce tu telefono"
            required
          />
        </div>
        <div class="form-group">
          <label for="username">Contraseña</label>
      <div style="position: relative;">
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          name="password"
          [(ngModel)]="password"
          #passwordField="ngModel"
          placeholder="Introduce tu nueva contraseña"
          minlength="6"
        />
        <button
          type="button"
          style="
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          background: none;
          border: none;
          cursor: pointer;
        "
          (click)="togglePasswordVisibility()"
        >
         <img
          [src]="showPassword ? 'assets/closed-eye.svg': 'assets/open-eye.svg' "
          alt="Mostrar/Ocultar"
          width="20"
          height="20"
        />
        </button> 
        <div *ngIf="passwordField.invalid && passwordField.touched" class="error-message">
          La contraseña debe tener al menos 6 caracteres.
        </div>
      </div>
        </div>
        <button type="submit" class="btn-primary">Guardar cambios</button>
      </form>
    </section>
  
    <!-- Sección: Configuración de preferencias -->
    <section class="preferences">
      <h2>Preferencias</h2>
      <form (ngSubmit)="updatePreferences()">
        <div class="form-group">
          <label for="notification">Método de notificación</label>
          <select id="notification" [(ngModel)]="preferences.notification" name="notification">
            <option value="email">Email</option>
            <option value="sms">SMS</option>
          </select>
        </div>
        <button type="submit" class="btn-primary">Guardar preferencias</button>
      </form>
    </section>
  
    <!-- Sección: Historial de actividad -->
    <section class="activity-history" *ngIf="activityHistory.length > 0">
      <h2>Historial de Actividad</h2>
      <ul>
        <li *ngFor="let activity of activityHistory">
          {{ activity }}
        </li>
      </ul>
    </section>

  <!-- Template para la ventana emergente de confirmación -->
  <ng-template #updateConfirmDialog>
    <h2 mat-dialog-title>Confirmación</h2>
    <mat-dialog-content>
      <p>Sus datos han sido actualizados correctamente.</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button color="primary" (click)="closeDialog()">Aceptar</button>
    </mat-dialog-actions>
  </ng-template>  
</div>

  
  