<div class="registro-container">
    <form (ngSubmit)="registro()"> 
      <h2>Registrate como Paciente</h2>
  
      <!-- Campo de usuario -->
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          name="email"
          [(ngModel)]="email" 
          placeholder="Introduce un email"
          required
        />
      </div>

      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          id="nombre"
          name="nombre"
          [(ngModel)]="nombre" 
          placeholder="Introduce su nombre y apellidos"
          required
        />
      </div>
  
      <!-- Campo de contraseña -->
      <div class="form-group">
        <label for="contrasena">Contraseña</label>
        <div style="position: relative;">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            name="password"
            [(ngModel)]="password"
            placeholder="Introduce tu contraseña"
            required
          />
          <button
            type="button"
            style="
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            border: none;
            cursor: pointer;
          "
            (click)="togglePasswordVisibility()"
          >
           <img
            [src]="showPassword ? 'assets/closed-eye.svg': 'assets/open-eye.svg' "
            alt="Mostrar/Ocultar"
            width="20"
            height="20"
          />
          </button> 
        </div> 
      </div>


      <div class="form-group">
        <label for="confirm-password"> Confirmar Contraseña</label>
        <div style="position: relative;">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="confirm-password"
            name="confirm-password"
            [(ngModel)]="confirmPassword"
            placeholder="Repite tu contraseña"
            required
            (input)="validatePasswords()"
          />
          <button
            type="button"
            style="
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            border: none;
            cursor: pointer;
          "
            (click)="togglePasswordVisibility()"
          >
           <img
            [src]="showPassword ? 'assets/closed-eye.svg': 'assets/open-eye.svg' "
            alt="Mostrar/Ocultar"
            width="20"
            height="20"
          />
          </button> 
        </div> 
        <p *ngIf="passwordMismatch" class="error-message">Las contraseñas no coinciden</p>
      </div>
  
      <!-- Botón de inicio de sesión -->
      <button type="submit" class="btn-primary">Registrar</button>
    </form>
  </div>