<div class="registro-container">
  <form (ngSubmit)="registro()" #registroForm="ngForm">
    <h2>Registro de Paciente</h2>

    <!-- Campo de usuario -->
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        #emailField="ngModel"
        placeholder="Introduce un email"
        required
        email
      />
      <div *ngIf="emailField.invalid && emailField.touched" class="error-message">
        El email es obligatorio y debe ser válido.
      </div>
    </div>

    <!-- Campo de nombre -->
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        [(ngModel)]="nombre"
        #nombreField="ngModel"
        placeholder="Introduce su nombre"
        required
      />
      <div *ngIf="nombreField.invalid && nombreField.touched" class="error-message">
        El nombre es obligatorio.
      </div>
    </div>


    <!-- Campo de apellidos -->
    <div class="form-group">
      <label for="apellidos">Apellidos</label>
      <input
        type="text"
        id="apellidos"
        name="apellidos"
        [(ngModel)]="apellidos"
        #apellidoField="ngModel"
        placeholder="Introduce sus apellidos"
        required
      />
      <div *ngIf="apellidoField.invalid && apellidoField.touched" class="error-message">
        Los apellidos es obligatorio.
      </div>
    </div>


    <!-- Campo de dni -->
    <div class="form-group">
      <label for="dni">DNI</label>
      <input
        type="dni"
        id="dni"
        name="dni"
        [(ngModel)]="dni"
        #dniField="ngModel"
        placeholder="Introduce su DNI"
        required
        pattern="[0-9]{8}[A-Za-z]"
        dni
      />
      <div *ngIf="dniField.invalid && dniField.touched" class="error-message">
        El DNI es obligatorio y debe ser válido.
      </div>
    </div>

    <!-- Campo de telefono -->
    <div class="form-group">
      <label for="telefono">Teléfono</label>
      <input
        type="telefono"
        id="telefono"
        name="telefono"
        [(ngModel)]="telefono"
        #telefonoField="ngModel"
        placeholder="Introduce un teléfono"
        required
        pattern="[0-9]{9}"
        telefono
      />
      <div *ngIf="telefonoField.invalid && telefonoField.touched" class="error-message">
        El telefono es obligatorio y debe ser válido.
      </div>
    </div>

    <!-- Campo de contraseña -->
    <div class="form-group">
      <label for="password">Contraseña</label>
      <div style="position: relative;">
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          name="password"
          [(ngModel)]="password"
          #passwordField="ngModel"
          placeholder="Introduce tu contraseña"
          required
          minlength="6"
        />
        <button
          type="button"
          style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); background: none; border: none; cursor: pointer;"
          (click)="togglePasswordVisibility()"
        >
          <img
            [src]="showPassword ? 'assets/closed-eye.svg': 'assets/open-eye.svg'"
            alt="Mostrar/Ocultar"
            width="20"
            height="20"
          />
        </button>
      </div>
      <div *ngIf="passwordField.invalid && passwordField.touched" class="error-message">
        La contraseña es obligatoria y debe tener al menos 6 caracteres.
      </div>
    </div>

    <!-- Confirmación de contraseña -->
    <div class="form-group">
      <label for="confirm-password">Confirmar Contraseña</label>
      <div style="position: relative;">
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="confirm-password"
          name="confirm-password"
          [(ngModel)]="confirmPassword"
          #confirmPasswordField="ngModel"
          placeholder="Repite tu contraseña"
          required
          (input)="validatePasswords()"
        />
        <button
          type="button"
          style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); background: none; border: none; cursor: pointer;"
          (click)="togglePasswordVisibility()"
        >
          <img
            [src]="showPassword ? 'assets/closed-eye.svg': 'assets/open-eye.svg'"
            alt="Mostrar/Ocultar"
            width="20"
            height="20"
          />
        </button>
      </div>
      <div *ngIf="passwordMismatch" class="error-message">Las contraseñas no coinciden.</div>
      <div *ngIf="confirmPasswordField.invalid && confirmPasswordField.touched" class="error-message">
        La confirmación de la contraseña es obligatoria.
      </div>
    </div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>


    <!-- Botón de registro -->
    <button type="submit" class="btn-primary" [disabled]="registroForm.invalid || passwordMismatch">
      Registrar
    </button>
  </form>
</div>
