<div class="patient-info-container">

  <div class="table-and-button-wrapper">
    <table>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Especialidad</th>
          <th>Diagnóstico</th>
          <th>Detalles</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments">
          <td>{{ appointment.fecha |  date: 'dd/MM/yyyy HH:mm'}}</td>
          <td>{{ appointment.medico.especialidad }}</td>
          <td>{{ appointment.diagnostico }}</td>
          <td><button mat-raised-button color="primary" (click)="viewReport(appointment)">Ver</button></td>
        </tr>
      </tbody>
    </table>

    <!--appintment.description van a ser los detalles-->

    <button class="go-back-button" (click)="goBack()">Volver</button>
  </div>

  <ng-template #updateConfirmDialog let-data>
    <h1 mat-dialog-title>Detalles de la Cita</h1>
    <div mat-dialog-content>
      <p>{{ data.descripcion }}</p>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="dialog.closeAll()">Cerrar</button>
    </div>
  </ng-template>
</div>
