<div class="login-container">
  <form (ngSubmit)="login()"> 
    <h2>Identifícate</h2>

    <!-- Campo de usuario -->
    <div class="form-group">
      <label for="username">Usuario</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="username" 
        placeholder="Introduce tu usuario"
        required
      />
    </div>

    <!-- Campo de contraseña -->
    <div class="form-group">
      <div style="position: relative;">
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          name="password"
          [(ngModel)]="password"
          placeholder="Introduce tu contraseña"
          required
        />
        <button
          type="button"
          style="
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          background: none;
          border: none;
          cursor: pointer;
        "
          (click)="togglePasswordVisibility()"
        >
         <img
          [src]="showPassword ? 'assets/closed-eye.svg': 'assets/open-eye.svg' "
          alt="Mostrar/Ocultar"
          width="20"
          height="20"
        />
        </button> 
      </div>
      
    </div>

    <!-- Botón de inicio de sesión -->
    <button type="submit" class="btn-primary">Iniciar Sesión</button>
  </form>
</div>
