/* Contenedor principal */
.create-appointment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background: linear-gradient(135deg, #f3f4f6, #ffffff);
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  height: 100%;
}

/* Sección del formulario */
.form-section {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Ajustar el tamaño del calendario */
mat-calendar {
  width: 100%;
  max-width: 100%;
  padding: 0;
  font-size: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mat-calendar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
/* .mat-calendar-body-wrapper{
  flex-grow: 1;
}

.mat-calendar-table {
  width: 100%;
  height: 100%;
} */

.mat-calendar-body-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo para la fecha seleccionada */
::ng-deep button.mat-calendar-body-cell.selected-date .mat-calendar-body-cell-content {
  background-color: #ffa500 !important; /* Naranja */
  color: #ffffff !important; /* Texto blanco */
  border-radius: 50%; /* Círculo */
  font-weight: bold; /* Negrita */
  border: 2px solid #ffa500; /* Borde naranja */
}

/* Hover para fechas seleccionadas */
::ng-deep button.mat-calendar-body-cell.selected-date:hover .mat-calendar-body-cell-content {
  background-color: #e69500 !important; /* Naranja oscuro */
  cursor: pointer;
}

/* Estilo global para resaltar fechas disponibles en el calendario */
::ng-deep button.mat-calendar-body-cell.highlight-date .mat-calendar-body-cell-content {
  background-color: #90ee90 !important; /* Verde claro */
  color: #000 !important; /* Texto en negro */
  border-radius: 50%; /* Círculo */
  font-weight: bold; /* Negrita */
  border: 2px solid #90ee90; /* Borde verde */
}

/* Hover para fechas disponibles */
::ng-deep button.mat-calendar-body-cell.highlight-date:hover .mat-calendar-body-cell-content {
  background-color: #76c776 !important; /* Verde oscuro */
  cursor: pointer;
}

.calendar-container{
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Título */
h2 {
  font-size: 2rem;
  color: #007bff;
  text-align: center;
  margin-bottom: 25px;  /* Aumentar separación inferior */
}

/* Campos de selección */
select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-top: 10px;
  box-sizing: border-box;
}

/* Botón de búsqueda */
button.btn-primary {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
}

/* Botón de búsqueda - Efecto hover */
button.btn-primary:hover {
  background-color: #0056b3;
}

/* Etiquetas */
label {
  display: block;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;  /* Mayor espacio debajo de cada etiqueta */
  margin-top: 5px;     /* Espacio adicional encima de cada etiqueta */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .create-appointment-container {
    padding: 10px;
  }

  .form-section {
    max-width: 100%;
    padding: 10px;
  }

  mat-calendar {
    padding: 0px;
  }
  button.btn-primary {
    font-size: 14px;
    padding: 10px;
  }
}

/* Estilo para los campos de texto no modificables */
input[readonly] {
  width: 100%;           /* Igualar el ancho al del desplegable */
  height: 40px;          /* Ajustar la altura para que coincida con el desplegable */
  padding: 8px;          /* Espaciado interno similar al desplegable */
  font-size: 16px;       /* Tamaño de fuente coherente */
  box-sizing: border-box; /* Incluir el padding y el borde en el ancho y alto */
}

/* Opcional: Estilo adicional para mejorar la apariencia */
input[readonly] {
  background-color: #f5f5f5; /* Color de fondo para indicar que es no modificable */
  border: 1px solid #ccc;     /* Borde similar al del desplegable */
  border-radius: 4px;         /* Bordes redondeados para coherencia */
}
